<section>
    <form action="/admin/add-product" enctype="multipart/form-data" method="POST">
        <p>Name</p>
        <input name="name" type="text">
        <p>category</p>
        <input name="category" type="text">
        <p>price</p>
        <input name="price" type="text">
        <p>description</p>
        <input name="desc" type="text">
        <p>image</p>
        <input type="file" name="image" id="">
        <button type="submit">Submit</button>
    </form>
</section>