<section>
    <div class="productsView">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Price</th>
                    <th scope="col">Category</th>
                    <th scope="col">Image</th>
                </tr>
            </thead>
            <tbody>
                {{#each products}}
                <tr>
                    <th scope="row">1</th>
                    <td>{{this.name}}</td>
                    <td>{{this.price}}</td>
                    <td>{{this.category}}</td>
                    <td><img style="height: 150px ; width: 150px; object-fit: cover;" src="{{this.image}}" alt=""></td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
    <a href="/admin/add-product"><button>Add product</button></a>
    <h3>Products</h3>
</section>