<header>
    <div class="header-left">
        <h1>TechMart.com</h1>
    </div>
    <nav>
        <div class="header-right">
            <ul class="navigation">
                <li><a href="">Category</a></li>
                <li><a href="">Orders</a></li>
                <li><a href="">Cart</a></li>
            </ul>
            <button>Login</button>
        </div>

    </nav>
</header>