<header>
    <h1>TechMart.com</h1>
    <nav>
        <ul class="navigation">
            <li><a href="">Category</a></li>
            <li><a href="">Orders</a></li>
            <li><a href="">Cart</a></li>
        </ul>
    </nav>
</header>