<section>
    <div class="cards-container">
        <div class="product-card">
            <img src="https://photographycourse.net/wp-content/uploads/2014/11/Landscape-Photography-steps.jpg" alt="">
            <div class="product-info">
                <h3>Iphone 11 pro</h3>
            </div>
        </div>
    </div>
</section>