<section>
    <h2>Cart</h2>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Price</th>
                <th scope="col">Category</th>
                <th scope="col">Image</th>
            </tr>
        </thead>
        <tbody>
            {{#each products}}
            <tr>
                <td>{{this.name}}</td>
                <td>{{this.price}}</td>
                <td>{{this.category}}</td>
                <td><button class="badge badge-info mr-10">+</button>{{}}<button
                        class="badge badge-info ml-10">-</button>
                </td>
                <td><img style="height: 150px ; width: 150px; object-fit: contain;" src="{{this.image}}" alt="">
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
    <a href="/user/checkout">Checkout</a>
</section>