<section>
    <form>
        <input type="text" name="name">
        <input type="email" name="email">
        <input type="password" name="password">
        <button type="submit" class="btn btn-primary">Create</button>
    </form>
    <a href="/login">Login</a>
</section>