<section>
    <form>
        {{!-- <input type="text" name="name"> --}}
        <input type="email" name="email">
        <input type="password" name="password">
        <button type="submit" class="btn btn-primary">Login</button>
    </form>
    <a class="mt-100" href="/user/signup">SignUp</a>
</section>