<section>
    <form>
        {{!-- <input type="text" name="name"> --}}
        <input type="email" name="email">
        <input type="password" name="password">
        <button type="submit" class="btn btn-primary">Login</button>
    </form>
    <a href="/user/create">Create Account</a>
</section>